{% extends 'base.html.twig' %}
{% block title %}Hello ContactController!
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Contact</h1>
        <div class="row">
            <div class="col-lg-7">
                <img class="mx-auto" src="image/logo.png" alt="">
            </div>
            <div class="col-lg-5 my-5">
                {{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button class="btn btn-warning">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}