{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center my-5">Modifier le lieu</h1>
{{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<button class="btn btn-warning">Valider</button>
{{ form_end(form) }}
</div>
{% endblock %}