<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <title>RunMap - {% block title %}Welcome!{% endblock %}</title>
        {%  block mapboxscripts %}
        {%  endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/style.css">
        <script src="https://kit.fontawesome.com/498d14878f.js" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        {% block jqueryscripts %}
        {% endblock %}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% endblock %}

    {# dossier template/components/navbar #}
    {{ include('components/nav/navbar.html.twig') }}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
